@tailwind base;
@tailwind components;
@tailwind utilities;
@import 'flowbite/dist/flowbite.css';

:root{
  --siteDarkBlue:   #194677;
  --siteLightBlue:  #318195;
  --siteOrange: #FBBD6E;
}

body {
    overflow-x: hidden;
    background-color: #318195;
  }
